/*==============================
Custom Styles
==============================*/


/*  ========================================
  Grid
 ========================================*/


*,
:before,
:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}

body {
    padding: 30px
}

label {
  /*margin: 10px;*/
  padding: 20px;
  display: inline;
}

select {
  display: inline-block;

}


.dropDown {
  padding-left: 20px;
  margin-left: 20px;
  display: block;

}

.exceptionalStrengthDropdown {
    padding-left: 10px;
    margin-left: 10px;
    display: block;


}

/*==============================
Clearfix
==============================*/


/*==============================
Rows
==============================*/

/*==============================
Typography
==============================*/

.makeBig{
  font-size: 25px;
}

/*==============================
Leads
==============================*/

/*==============================
Links
==============================*/

/*==============================
Buttons
==============================*/


/*==============================
Primary Header
==============================*/


/*========================================
Primary Footer
  ========================================*/


/*========================================
  Navigation
  ========================================*/


/*==============================
Home
==============================*/


/*========================================
  Other pages I
  ========================================*/

/*========================================
  Other pages II
  ========================================*/

/*========================================
  Other pages III
  ========================================*/



/*========================================
Tables
  ========================================*/

